---
import { Image } from 'astro:assets';
import avatar from '~src/assets/images/avatar.png';
---

<div
  class="bg-light-700 dark:bg-true-gray-800 flex flex-wrap justify-center gap-3 rounded-md p-10 text-center sm:flex-nowrap sm:text-left"
>
  <div class="mb-4 h-40 w-40 flex-shrink-0 rounded-full md:mb-0">
    <Image
      alt="Author avatar image"
      src={avatar}
      class="h-40 w-40 rounded-full"
    />
  </div>

  <div
    class="text-true-gray-800 dark:text-true-gray-100 flex flex-grow flex-col justify-center"
  >
    <h1 class="mb-2 text-3xl font-semibold">Michael Thomas</h1>
    <p>
      I'm Michael Thomas, a web developer and systems engineer from Columbia,
      South Carolina. I love to build stuff, break stuff, and most importantly,
      learn from the experience. I like to blog about my experiences with Linux,
      self-hosting, and app development.
    </p>
  </div>
</div>
